ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Overflow is important */
    overflow: hidden;
    background-color: lightblue;
}

li a {
    /* display is important */
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    float: left;
}

li a:hover:not(.active) {
    background-color:rgb(73, 73, 214);
}

.custom{
    color: red;
    background-color: lightseagreen;
}